body {
  background-color: #81a69b;
}

.form-container {
  background-color: #d9c148;
  width: 25%;
  text-align: center;
  padding: 10px;
  align-self: flex-start;
  margin-right: 4rem;
}

.full-width {
  width: 100% !important;
}

.submit-background {
  background-color: darkblue;
  color: white;
  padding: 5px 30px;
  margin-bottom: 10px;
}

.submit-background:hover {
  color: white;
}

.page-container {
  display: flex;
  justify-content: center;
}

.results-container {
  background-color: #d9c148;
  width: 45%;
  align-self: flex-start;
  max-height: 98vh;
  overflow: scroll;
}

.drink-image {
  width: 100px;
  height: 100px;
}

.drink-border {
  border-bottom: #bf9b2f 1px solid;
}

.drink-border:hover {
  text-decoration: none;
}

.text-custom {
  color: #bf3334;
}

.details-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.details-background {
  background-color: #d9c148;
  width: 60%;
  height: 80%;
  text-align: center;
  padding: 40px;
}

.detail-image {
  width: 200px;
  height: 200px;
  border: solid 3px #bf3334;
}

.red-text {
  color: #bf3334;
}